{% extends "school/base.html" %}

{% block content %}

{% verbatim %}
<div ng-controller="AppController">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Schools
                    <small>{{ schools.length }}</small>
                </h1>
        </div>
    </div>


    <div ng-repeat="school in schools|orderBy:'id'">
        <div class="row">
            <div class="col-md-7">
                    <img class="img-responsive" src="{{ school.img }}" alt="">
            </div>
            <div ng-controller="SchoolController">
                <div ng-controller="ClassController">
                    <div class="col-md-5">
                        <h3>{{ school.name }}</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                        <a class="btn btn-primary" data-toggle="collapse" type="button" href="#collapse-sch-{{ school.id }}" aria-expanded="false" aria-controls="collapse-sch-{{ school.id }}">View Classrooms <span class="glyphicon glyphicon-chevron-right"></span></a>
                        <div class="collapse" id="collapse-sch-{{ school.id }}">
                            <hr>

                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div ng-repeat="class in classrooms|filter:{'school': {'id': school.id}}|orderBy:'number'">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading-cl-{{ class.id }}">
                                            <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#collapse-cl-{{ class.id }}" aria-expanded="true" aria-controls="collapse-cl-{{ class.id }}">
                        {{ class.number }}
                    </a>
                </h4>
                                        </div>
                                        <div id="collapse-cl-{{ class.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-cl-{{ class.id }}">
                                            <div class="panel-body">
                                                <ul class="list-group">
                                                    <li class="list-group-item" ng-repeat="student in students|filter:{'classroom': {'id': class.id}}|orderBy:'name'">
                                                        {{ student.name }}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>

{% endverbatim %}
{% endblock content %}
